.list {
  list-style-type: none;
  padding-left: 0;
  max-height: 663px;
  flex: 1;
  overflow-y: scroll;
}

.list-item {
  max-width: 520px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 300px;
}
::-webkit-scrollbar-track {
  background: #2f2f37;
  height: 300px;
}
::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 2px solid #2f2f37;
  border-radius: 6px;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
