.title {
  text-align: start;
}

.ingredient {
  display: flex;
  flex-grow: 1;
}

.status { 
  text-align: start;
}

.container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  width: 640px;
  margin: 0 auto;
}

.icon {
  width: 64px;
  height: 64px;
  border: double 2px transparent; 
  border-image-slice: 20;
  border-radius: 50%;
  background-clip: content-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(19, 19, 22, 1), rgba(19, 19, 22, 1)),
  radial-gradient(#8525b4, #3a3acf);
}

.image {
  width: 170%;
  height: 100%;
}

.list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 320px;
  flex: 1;
  overflow-y: auto;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 12px;
  height: 300px;
}
::-webkit-scrollbar-track {
  background: #2f2f37;
  height: 300px;
}
::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 2px solid #2f2f37;
  border-radius: 6px;
}

.status_color_red {
  color: #ce2b1c;
}

.status_color_white {
  color: #f6f6fc;
}

.status_color_green {
  color: #0edada;
}
