.content {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  width: 640px;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  gap: 20px;
}

.content__text {
  text-align: center;
}

.content__product {
  display: flex;
  flex-direction: column;
}

.list__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list__item-text {
  margin: 0;
}
