.link {
  text-decoration: none;
  color: #9090b8;
}

.item {
  list-style-type: none;
  box-shadow: inset 0px -2px 0px #3b3b46;
}

.item_active {
  color: #f2f2f3;
  box-shadow: inset 0px -2px 0px #6363f7;
}

.menu {
  display: flex;
}

.container {
  max-height: 540px;
  flex: 1;
  overflow-y: scroll; 
}

::-webkit-scrollbar {
  width: 12px;
  height: 300px;
}
::-webkit-scrollbar-track {
  background: #3b3b46;
  height: 300px;
}
::-webkit-scrollbar-thumb {
  background: #9090b8;
  border: 3px solid #3b3b46;
  border-radius: 5px;
}
