.header {
    background-color: #30303a;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.container__position {
    display: flex;
    margin-right: 50px;
}

.container__logo {
    margin-left: 130px;
    margin-right: 300px;
}

.header__text {
    margin-left: 10px !important;
    position: relative;
    top: -5px;
}

.header__link {
    color: #8c8ca3;
    text-decoration: none;
}

.header__link-active {
    color: #ffffff;
    text-decoration: none;
}